<!--Contacts section -->
      <section class="section contacts-section">
        <div class="container">
          <h2 class="section__title visually-hidden">Contacts</h2>
          <ul class="contacts">
            <li class="contacts-item">
              <div class="contacts-label">
                <p class="contacts-label__name">cafe</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">Chicago</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours">06:00 AM - 10:00 PM</p>
                  <!-- чи time не годиться, бо не за специфікацією? -->
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
            <li class="contacts-item">
              <div class="contacts-label contacts-label--background">
                <p class="contacts-label__name">foodtruck</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">Los Angeles</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
            <li class="contacts-item">
              <div class="contacts-label">
                <p class="contacts-label__name">cafe</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">New York</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
          </ul>
          <button type="button" class="button" data-modal-open>Our Locations</button>
          <button type="button" class="button button--background">Franchise</button>
        </div>
      </section>
      <div class="modal-container modal-container--is-hidden" data-modal>
        <div class="modal">
          <button type="button" class="circle-btn modal__circle-btn" data-modal-close>
            <svg class="modal__icon-close" width="11" height="11">
              <!-- <use href="./images/sprite.svg#close"></use> -->
            </svg>
          </button>
          <div>
            <div class="location-label">
              <p class="location-label__name">cafe in Chicago</p>
            </div>
            <iframe
              class="location-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.3847661187424!2d-87.61865098442337!3d41.841544375679774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b8999af40a1%3A0x853c13ff3ea6e2aa!2s2901%20S%20King%20Dr%2C%20Chicago%2C%20IL%2060616%2C%20USA!5e0!3m2!1sen!2sua!4v1643380146046!5m2!1sen!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div>
            <div class="location-label location-label--background">
              <p class="location-label__name">foodtruck in Los Angeles</p>
            </div>
            <iframe
              class="location-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.1855798715574!2d-118.39143308459994!3d33.83332443668184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b4a912294439%3A0x8f4d64dc2a2f13e4!2s600%20Esplanade%2C%20Redondo%20Beach%2C%20CA%2090277%2C%20USA!5e0!3m2!1sen!2sua!4v1643380328228!5m2!1sen!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div>
            <div class="location-label">
              <p class="location-label__name">cafe in New York</p>
            </div>
            <iframe
              class="location-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.5249957468127!2d-73.94489858444754!3d40.83839603780986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f69b4da0c569%3A0x15c8161248b7d34b!2s611%20W%20163rd%20St%2C%20New%20York%2C%20NY%2010032%2C%20USA!5e0!3m2!1sen!2sua!4v1643380381959!5m2!1sen!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <!-- <script src="./js/modal.js"></script> -->
      </div>
