<!--Contacts section -->
      <section class="section contacts-section">
        <div class="container">
          <h2 class="section__title visually-hidden">Contacts</h2>
          <ul class="contacts">
            <li class="contacts-item">
              <div class="contacts-label">
                <p class="contacts-label__name">cafe</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">Chicago</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours"><time>06:00 AM - 10:00 PM</time></p>
                  <!-- чи time не годиться, бо не за специфікацією? -->
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
            <li class="contacts-item">
              <div class="contacts-label contacts-label--background">
                <p class="contacts-label__name">foodtruck</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">Los Angeles</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
            <li class="contacts-item">
              <div class="contacts-label">
                <p class="contacts-label__name">cafe</p>
              </div>
              <div class="contacts-subitem">
                <p class="contacts-name">New York</p>
                <p class="contacts-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </div>
              <ul class="contacts-subitem">
                <li class="contacts-period">
                  <p class="contacts-period__days">Monday - Friday</p>
                  <p class="contacts-period__hours">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts-period">
                  <p class="contacts-period__days">Saturday - Sunday</p>
                  <p class="contacts-period__hours">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <div class="contacts-subitem">
                <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </div>
            </li>
          </ul>
          <button type="button" class="button">Our Locations</button>
          <button type="button" class="button">Franchise</button>
        </div>
      </section>
    </main>