<header class="header ">
    <div class="header__conteiner container">
        <nav class="navigation">
            <a href="./index.html" class="logo">
                <img class="logo__icon" src="./images/icon-logo.png" alt="">
                <p class="logo__text">isecream</p>
            </a>

            <button type="button" class="menu-burger js-open-menu" aria-expanded="false" >
                <svg class="menu-burger__box" width="40" height="40" aria-label="Переключатель мобильного меню">
                    <use class="icon-burger" href="./images/icons.svg#icon-menu"></use>
                </svg>
            </button>
            <button class="button--light">Buy now</button>

            <div class="menu__conteiner">
                <div class="menu">
                    <button type="button" class="menu-close js-close-menu" aria-expanded="false" aria-controls="menu-container">
                        <svg class="menu-close__box" width="40" height="40" aria-label="Переключатель мобильного меню">
                            <use class="icon-close" href="./images/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                    <button class="button--buy">Buy now</button>
                    <ul class="navigation__tabs">
                        <li class="navigation__tab"><a href="#header" class="nav-link">Home</a></li>
                        <li class="navigation__tab"><a href="#advantages" class="nav-link">About us</a></li>
                        <li class="navigation__tab"><a href="#about" class="nav-link">How it’s made?</a></li>
                        <li class="navigation__tab"><a href="#products" class="nav-link">Our products</a></li>
                        <li class="navigation__tab"><a href="#contact" class="nav-link">Contact</a></li>
                    </ul>
                    
                </div>
                
            </div>
        </nav>
    </div>
</header>