<header class="header">
    <div class="header__conteiner">
        <nav class="navigation">
            <a href="./index.html" class="logo">
                <svg class="logo__icon-box">
                    <use></use>
                </svg>
                <span class="logo__text">isecream</span>
            </a>

            <button type="button" class="menu__burger js-open-menu" aria-expanded="false" aria-controls="menu-container">
                <svg class="menu__burger-box" width="40" height="40" aria-label="Переключатель мобильного меню">
                    <use href=""></use>
                </svg>
            </button>
            
            <div class="menu__conteiner">
                <div class="menu__box">
                    <button type="button" class="menu__close js-close-menu" aria-expanded="false" aria-controls="menu-container">
                        <svg class="menu__close-box" width="40" height="40" aria-label="Переключатель мобильного меню">
                            <use href=""></use>
                        </svg>
                    </button>
                    <button class="button--buy">Buy now</button>
                    <ul class="navigation__tabs">
                        <li class="navigation__tab">Home</li>
                        <li class="navigation__tab">About us</li>
                        <li class="navigation__tab">How it’s made?</li>
                        <li class="navigation__tab">Our products</li>
                        <li class="navigation__tab">Contact</li>
                    </ul>
                    
                </div>
                
            </div>
        </nav>
    </div>
</header>