<section class="hero">
    <div class="container">
        <h1 class="hero__tittle">
            <span class="hero__tittle--acsent">ice cream made with</span>
            passion
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                <p class="hero__number">16</p>
                <p class="hero__label">cafes</p>
            </li>
            <li class="hero__item">
                <p class="hero__number">23</p>
                <p class="hero__label">food trucks</p>
            </li>
        </ul>
        <ul class="hero__buttons">
            <li class="hero__button"><a class="hero__link" href="#products">Products</a></li>
            <li class="hero__button"><a class="hero__link" href="#about">How it’s made?</a></li>
        </ul>
            
        <div class="hero_massege">
            <p class="hero__text"></p>
            <button class="button--arrow"></button>
        </div>
        <img src="./images/desktop/big_ice_cream.png" alt="" class="hero__img">
        <img src="./images/desktop/milc_in_decanter.png" alt="" class="hero__img">
        <img src="./images/desktop/tasty.png" alt="" class="hero__img">
    </div>
</section>