<section class="products__section">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__section-headline">products</h2>
    <ul class="products__list">
      <li class="products__ice-cream">
        <h3 class="products__item-headline">ice cream</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <svg width="40px" height="40px">
          <use></use>
        </svg>
      </li>

      <li class="products__ice-coffee">
        <h3 class="products__item-headline">ice coffee</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <svg width="40px" height="40px">
          <use></use>
        </svg>
      </li>

      <li class="products__milkshakes">
        <h3 class="products__item-headline">milkshakes</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <svg width="40px" height="40px">
          <use></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
